@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: url('https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-details-container {
    background-color: rgba(46, 46, 46, 0.618);
    border: 1px solid #2c3e50; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(7px);
    padding: 60px;
}

.recipe-title {
    font-family: 'Indie Flower', cursive;
    color: #20272f; 
    font-size: 3.34rem;
    margin-bottom: 30px;
}

.recipe-image {
    border-radius: 15px; /* Rounded corners for the image */
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5); /* Add a subtle shadow */
}

.recipe-details {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.34rem;
    color: #ffffff; 
}



.recipe-details h2 {
    color: #edff88; /* Red color for section headings */
}

.rating {
    color: #f1c40f; /* Yellow color for stars */
}

.rating .fa-star {
    font-size: 24px; /* Increase star size */
}

.rating .fa-star.checked {
    color: #f39c12; /* Orange color for checked stars */
}

.recipe-text {
    white-space: pre-wrap; /* Preserve line breaks */
    overflow-wrap: break-word; /* Wrap long words */
    max-width: 100%; /* Ensure text doesn't overflow container */
    margin-right: 0; /* Remove right margin */
    /* Add any additional styling here */
}


 /* star rating stuff */
 .star-rating li {
    list-style-type: none;
    float: right;
    padding: 5px;
    transition: color 0.2s;
  }
  .star-rating li:hover, .star-rating li.selected {
    color: yellow;
  }

@media (max-width : 450px){
    .recipe-details-container {
        padding: 18px;
    }
    .recipe-details {
        font-size: 0.7rem;
    }
}
